body {
    background: green;
    color: aliceblue;
}

h1 {

    font-style: italic;
    border: 1px solid black; color: black; background: blue; 
}

h2 {

    font-style: italic;
    border: 1px solid black; color: black;
}